In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
import pandas as pd

In [2]:
chains = ['mcdonalds', 'burgerking', 'tacobell', 'wendys', 'chipotle', 'subway', 'starbucks', 'pizzahut', 'dominos', 'dairyqueen', 'kfc', 'sonicdrivein', 'chickfila', 'panerabread', 'dunkindonuts']

In [3]:
def getSoup(chain):
    r = requests.get("https://socialblade.com/facebook/page/"+chain).text
    soup = BeautifulSoup(r, 'html.parser')
    return soup

In [4]:
def getData(chain):
    soup = getSoup(chain)
    souptext = soup.text
    chartIndex = souptext.index("Highcharts.chart('graph-facebook-daily-vidviews-container'")
    chart = souptext[chartIndex:chartIndex+1000]
    name = chart[chart.find("\\'")+2:chart.find("\\''")] 
    tac = chart[chart.find('data: [')+7:chart.find('] }]')] 
    tac = list(map(int, tac.split(',')))
    datestart = souptext[souptext.find("( ")+2:souptext.find("( ")+12]
    datestart2 = datetime.strptime(datestart,'%Y-%m-%d')
    dates = [datestart2 + i*timedelta(days=1) for i in range(14)]
    datesstr = [datetime.strftime(i, '%Y-%m-%d') for i in dates]
    return name, tac, datesstr

In [5]:
allData = [getData(chain) for chain in chains]

In [6]:
dataSorted = sorted(allData, key = lambda x: x[1][-1], reverse = True)

In [7]:
junk = [print('{}: {}'.format(chain[0],chain[1][-1])) for chain in dataSorted]

Starbucks: 138238
Sonic Drive-In: 65268
Chick-fil-A: 43436
Domino's Pizza: 34869
McDonald's: 31143
Burger King: 25718
Taco Bell: 18391
Wendy's: 18017
Subway: 15851
Dairy Queen: 12380
Pizza Hut: 11577
Panera Bread: 7950
Dunkin' Donuts: 436
Chipotle Mexican Grill: 0
KFC: 0

In [60]:
df = pd.DataFrame(data=allData, columns=['Name', 'Talking About', 'Dates'])

In [61]:
df

,Name,Talking About,Dates
0,McDonald's,"[37099, 34087, 31307, 29795, 28328, 28068, 272...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
1,Burger King,"[20145, 22026, 21904, 18938, 21225, 18491, 174...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
2,Taco Bell,"[19435, 18678, 17620, 16955, 15986, 14397, 141...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
3,Wendy's,"[30151, 28001, 24740, 23390, 22188, 20275, 157...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
4,Chipotle Mexican Grill,"[15748, 14538, 13932, 17446, 16993, 17563, 166...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
5,Subway,"[19316, 19317, 19156, 18406, 17645, 16300, 160...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
6,Starbucks,"[145615, 145337, 132308, 137238, 127423, 13006...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
7,Pizza Hut,"[13219, 11488, 10161, 12473, 13226, 14173, 147...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
8,Domino's Pizza,"[43528, 40268, 39426, 37178, 33241, 29833, 318...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
9,Dairy Queen,"[48450, 32510, 7771, 6499, 6243, 6424, 6596, 9...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
10,KFC,"[33586, 28430, 27955, 28901, 29470, 29569, 263...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
11,Sonic Drive-In,"[37287, 67378, 88541, 90917, 89999, 90542, 886...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
12,Chick-fil-A,"[22527, 36307, 41170, 41592, 47629, 51616, 529...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
13,Panera Bread,"[8734, 9734, 12102, 13002, 13880, 15566, 16283...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."
14,Dunkin' Donuts,"[469, 506, 494, 481, 431, 493, 434, 478, 551, ...","[2019-03-26, 2019-03-27, 2019-03-28, 2019-03-2..."

In [25]:
dfSorted = pd.DataFrame(data=dataSorted, columns=['Name', 'Talking About', 'Dates'])

In [26]:
dfSorted[['Name','Talking About']]

                      Name                                      Talking About
0                Starbucks  [132308, 137238, 127423, 130060, 123038, 16548...
1           Sonic Drive-In  [88541, 90917, 89999, 90542, 88650, 65947, 473...
2              Chick-fil-A  [41170, 41592, 47629, 51616, 52963, 49701, 508...
3           Domino's Pizza  [39426, 37178, 33241, 29833, 31845, 30923, 288...
4               McDonald's  [31307, 29795, 28328, 28068, 27210, 33570, 350...
5              Burger King  [21904, 18938, 21225, 18491, 17439, 17612, 186...
6                Taco Bell  [17620, 16955, 15986, 14397, 14158, 11916, 103...
7                  Wendy's  [24740, 23390, 22188, 20275, 15743, 14147, 148...
8                   Subway  [19156, 18406, 17645, 16300, 16064, 15872, 153...
9              Dairy Queen  [7771, 6499, 6243, 6424, 6596, 9921, 18244, 21...
10               Pizza Hut  [10161, 12473, 13226, 14173, 14781, 14413, 147...
11            Panera Bread  [12102, 13002, 13880, 15566, 16283, 17070, 166...
12          Dunkin' Donuts  [494, 481, 431, 493, 434, 478, 551, 512, 503, ...
13  Chipotle Mexican Grill  [13932, 17446, 16993, 17563, 16641, 18429, 177...
14                     KFC  [27955, 28901, 29470, 29569, 26340, 28590, 262...

In [51]:
todaySorted = [(n+1,dataSorted[n][0],dataSorted[n][1][-1]) for n in range(14)]

In [52]:
dfTodaySorted = pd.DataFrame(data=todaySorted, columns=['Rank','Chain', 'People Talking About This'])

In [53]:
dfTodaySorted.set_index('Rank')
dfTodaySorted[:10]

   Rank           Chain  People Talking About This
0     1       Starbucks                     138238
1     2  Sonic Drive-In                      65268
2     3     Chick-fil-A                      43436
3     4  Domino's Pizza                      34869
4     5      McDonald's                      31143
5     6     Burger King                      25718
6     7       Taco Bell                      18391
7     8         Wendy's                      18017
8     9          Subway                      15851
9    10     Dairy Queen                      12380